# holds secrets for chatops
# holds slack and github auth tokens
# holds mappings for devops team slack and github usernames
secrets:
  slackBotToken: foo
  slackAppToken: bar
  githubToken: baz
  users:
    - realName: foo
      githubName: bar
      slackID: baz