# holds secrets for chatops
# holds slack and github auth tokens
# holds mappings for devops team slack and github usernames
secrets:
  slackBotToken: <>
  slackAppToken: <>
  githubToken: <>
  users:
    - realName: foo
      githubName: <>
      slackID: <>