# Here, you can fill in credentials for outputting to an OpenSearch instance
# They are loaded into a Secret resource, "opensearch-credentials", which can be referenced in values.yaml
# Copy this file to i.e. /tmp, rename to secret-values.yaml, then when installing the helm chart, add `-f /tmp/secret-values.yaml`
opensearchCredentials:
  username:
  password: