{{- if .Values.backup.enabled }}

{{- range $period, $schedule := .Values.backup.schedule }}

apiVersion: batch/v1
kind: CronJob
metadata:
  name: harbor-backup-{{ $period }}
spec:
  schedule: "{{ $schedule }}"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        spec:
          restartPolicy: Never
          containers:
            - name: backup-{{ $period }}
              image: {{ $.Values.backup.image }}
              imagePullPolicy: IfNotPresent
              command:
                - /bin/sh
                - -c
                - |
                  set -euo pipefail
                  echo "$(date) Starting {{ $period }} S3 backup sync..."

                  for repo in $(aws s3 ls {{ $.Values.backup.sourceBucket }}/docker/registry/v2/repositories/ \
                      --endpoint-url {{ $.Values.backup.endpoint }} \
                      | awk '{print $2}'); 
                  do
                    repo="${repo%/}"
                    echo "Syncing $repo..."
                    aws s3 sync \
                      {{ $.Values.backup.sourceBucket }}/docker/registry/v2/repositories/$repo \
                      {{ index $.Values.backup.destination $period }}/docker/registry/v2/repositories/$repo \
                      --exact-timestamps --endpoint-url {{ $.Values.backup.endpoint }} --delete --no-progress
                  done
    
                  echo "$(date) {{ $period }} backup completed."
              env:
                - name: AWS_ACCESS_KEY_ID
                  valueFrom:
                    secretKeyRef:
                      name: harbor-backup-secret
                      key: accesskey
                - name: AWS_SECRET_ACCESS_KEY
                  valueFrom:
                    secretKeyRef:
                      name: harbor-backup-secret
                      key: secretkey
---
{{- end }}
{{- end }}