{{- if .Values.backup.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: harbor-backup-monthly
spec:
  # space these out because they fail if they run together
  schedule: "0 16 1 * *" # 4pm on the 1st of every month
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: aws-cli
              image: amazon/aws-cli:latest
              command: ["/bin/sh", "-c"]
              args:
                - |
                  aws s3 sync {{ .Values.backup.sourceBucket }} {{ .Values.backup.destination.monthly }} \
                  --endpoint-url {{ .Values.backup.endpoint }} \
                  --exact-timestamps --delete --no-progress 2>&1 | tee /tmp/s3sync.log
              env:
                - name: AWS_ACCESS_KEY_ID
                  valueFrom:
                    secretKeyRef:
                      name: harbor-backup-secret
                      key: accesskey
                - name: AWS_SECRET_ACCESS_KEY
                  valueFrom:
                    secretKeyRef:
                      name: harbor-backup-secret
                      key: secretkey
          restartPolicy: OnFailure
{{- end }}