# This is a Template for secrets
# copy this file into /tmp/secrets-values.yaml and modidy it with secrets
# then run helm install my-harbor charts/harbor -f /tmp/secrets-values.yaml from repo root dir

harbor:
    database:
        external:
            # Provide password in plaintext
            password: somepassword
    s3:
        bucket: dev-harbor
        accesskey: awsaccesskey
        secretkey: awssecretkey
