openstack-manila-csi:
  # Base name of the CSI Manila driver
  driverName: manila.csi.openstack.org

  # Enabled Manila share protocols
  shareProtocols:
  - protocolSelector: CEPHFS
    fsGroupPolicy: None
    fwdNodePluginEndpoint:
      dir: /var/lib/kubelet/plugins/cephfs.csi.ceph.com
      sockFile: csi.sock